<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impressum</title>
  </head>
  <body>
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>
      Theo Paul Benjamin Tappe<br />
      Gartenstra&szlig;e 95<br />
      03050 Cottbus
    </p>

    <h2>Kontakt</h2>
    <p>
      Telefon: +49 1577 4056305<br />
      <!-- Telefax: Fax<br /> -->
      E-Mail: tappe.theo.paul.benjamin@gmail.com
    </p>

    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
  </body>
</html>
